body {
    background-color:rgb(100, 100, 136);  
    margin:0;
}

.Title {
    font-size: 40px;
    font-family: monospace;
    width:fit-content;
    margin:0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color:whitesmoke;
    background-color: #740774;;
    border-radius: 10px;

}
.text {
    text-align: center;
    position: absolute;
    max-width: 750px;
    min-width: 350px;
    height: 300px;
    left: 50%;
    top : 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    font-family: fantasy;
    color:whitesmoke;
    border: solid 3px black;
    border-radius: 10px;
    background-color: #740774; 
}

.links {
    width: 75px;
    height: 100px;
    position: absolute;
    top: 50%;
    background-color: gray; 
    margin: 0;
    margin-right: 0;
    transform: translateY(-50%);
    box-shadow: 5px 5px 5px purple;
}

.link1 {
    height: 50px;
    width: 75px
}

.link2 {
    height: 50px;
    width: 75px
}

.links input {
    background-color: gray;
    border-color:gray;
    border-style: solid;
    color: white;
}   

.links input:hover {
    border-color: black;
    border-width: 4px;
    background-color: #740774;
    color: black;
}