html {
    width:100%;
    height:100%;
}

body {
    background-color:rgb(100, 100, 136);   
    }

.largecontainer {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 100%
}

.container {
    top: 50%;
    left: 50%;
    position: relative;
    height: 448px;
    width: 449px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%)
    }
.container img.displayed {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }   
.reading {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    
}

.triangular {
    position: absolute;
    z-index: -1;
    width: 140px;
    height:140px;
    transform: rotate(90deg);
}

.triangular img {
    position: absolute;
    width: 140px;
    height: 140px;
}


.reading p {
    margin: 0;
    position: absolute;
    text-align: center;
    width: 60px;
    top: 40%;
    left:50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 14px;
    font-family: fantasy;

}

.message {
    width: 140px;
    height: 140px;
    z-index: 1;
}

h1.title {
    font-size: 40px;
    font-family: monospace;
    width:fit-content;
    margin:0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color:whitesmoke;
    background-color: #740774;;
    border-radius: 10px;
}

.getread{
    margin: 0 auto;
    transform: translate(0px, 260px);
    border-radius: 15px;
    height: 50px;
    width: 150px;
    font-size: 16px;
    font-family: fantasy;
    font-style:oblique;
    background-color: gray;
    color: whitesmoke;
    border-style: solid;
    box-shadow: 5px 5px 5px purple;

    }
.getread:hover {
    background-color: #740774;
    border-color: black;
    border-radius: 15px;
    border-width: 4px;
    color:black;

}

.links {
    width: 75px;
    height: 100px;
    position: absolute;
    top: 50%;
    background-color: gray; 
    margin: 0;
    margin-right: 0;
    transform: translateY(-50%);
    box-shadow: 5px 5px 5px purple
}

.link1 {
    height: 50px;
    width: 75px
}

.link2 {
    height: 50px;
    width: 75px
}

.links input {
    background-color: gray;
    border-color:gray;
    border-style: solid;
    color: whitesmoke;
}   

.links input:hover {
    border-color: black;
    border-width: 4px;
    background-color: #740774;
    color: black
}

.sig {
    width:fit-content;
    position: absolute;
    margin: 0;
    color: whitesmoke;
    background-color:#740774 ;
    border-radius: 5px;
    bottom: 5%;
    right: 5%;
}