<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css')}}">
</head>
<body>
    <h1 class="Title">About</h1>
    <br>
    <div class="text">
        <p>My name is Timothy Newton, and I am currently an up and coming developer. This is my first web-app: an interactive magic eightball! This is the first of many soon to be creations.</p>
    </div>
    <div class="links">
        <form method="POST">
            <input class="link1" type="submit" name="eightball" value="Eightball">
            <input class="link2" type="submit" name="about" value="About">
        </form>
    </div>

</body>
</html>