<!DOCTYPE html>
<html>
<head>
    <title>Eightball</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/FadeIn.css')}}">
</head>
<body>
    <h1 class="title">Magic Eightball</h1>
    <div class="largecontainer">
        <div class="container">
            <img class="displayed" src="{{ url_for('static', filename='clipart2776278.png')}}">
            <form action="/" method="POST">
                <div class="reading" style="{{ animation }}">
                    <div class="triangular" style="transform: rotate({{ render_degrees }}deg);">
                         <img src="{{ render_triangle }}">
                    </div>
                    <div class="message" style="transform: rotate({{ render_offset }}deg);">
                        {% for message in get_flashed_messages()%}
                            <p> {{message}} </p>
                        {% endfor %}   
                    </div>   
                </div>
                <input type="submit" name="submitbutton" value="Shake The EightBall">
            </form>
        </div>
    </div>
<p class="sig">Made by Jimothy</p>
</body>
</html>
